body{
	background-image:url(lug.jpg);
	background-repeat:round;
	cursor: url(cursors/normal.cur), pointer;
}

button{
     outline:none;
}
/*Klassy igrovogo polya*/
.tic-tac-wrap{
	width: 600px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	border: solid 20px green;
	margin-left: -320px;
	margin-top: -340px;
	display:none;
}

.tic-tap{
	width:120px;
	height:120px;
	border: solid 5px rgb(65, 139, 94);
	box-sizing:border-box;
	float:left;
	background-color:rgba(255,255,255,0.5);
}
/*Kamuwki i listo4ki*/
.round{
	width: 110px;
	height: 110px;
	background-image: url(stone.png);
	background-repeat: round;
}

.cross{
	width: 110px;
	height: 110px;
	background-image: url(list.png);
	background-repeat: round;
}
/*Startovoe menu*/
.menu-bar{
	position: absolute;
	width: 400px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -165px;
}

.but-menu{
	width: 100%;
	height: 46px;
	margin: 10px 0px;
	background-color: rgba(18, 173, 42, 0.9);
	border: solid 1px black;
	border-radius: 50px;
	color: white;
	font: 35px Grape Soda;
	box-sizing: border-box;
}

.but-menu:hover{
	background-color: rgba(0, 100, 0, 0.9);
	cursor: url(cursors/link.cur), pointer;
}
/*Menu vibora partnera*/
.partner-panel{
	background-color: rgba(18, 173, 42, 0.9);
	border: solid 1px black;
	width: 700px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	margin-top: -290px;
	text-align: center;
	border-radius: 25%;
	box-sizing: border-box;
	display:none;
}

.panel-title{
	font:40px Grape Soda;
	padding: 0px;
	margin:20px;
	color:white;
}

.human-computer-partner{
	width: 285px;
	height: 280px;
	display: inline-block;
	float: left;
	margin-left: 40px;
	box-sizing:border-box;
}

.human-computer-partner:hover{
	cursor: url(cursors/link.cur), pointer;
}

.partner-image{
	margin-top: 2%;
	width: 80%;
	height: 80%;
}

.partner-definition{
	font: 30px Grape Soda;
	margin: 10 0 0 0;
	color: white;
}
/*Bokovaya tablica pods4eta o4kov*/
.score-desk{
	width: 350px;
	height: 160px;
	float: right;
	padding: 1% 1%;
	background-image: url(desk.png);
	background-repeat:round;
	text-align:center;
	display:none;
}

.score-table{
	width: 100%;
}

.score-table td{
	text-align: center;
	width:50%;
}

.partner-icon{
	width:35px;
	height:35px;
	vertical-align: sub;
}

.score-title{
	font: 35px LC Chalk;
	color:white;
	margin:15px 4px;
	display:inline-block;
}

.score{
	font: 35px LC Chalk;
	color:white;
}
/*Okno posle okon4ania partii*/
.onemore{
	width: 380px;
	height: 115px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -190px;
	margin-top: -150px;
	text-align: center;
	background-color: rgba(18, 173, 42, 0.9);
	border: solid 1px black;
	border-radius: 70px;
	box-sizing: border-box;
	display:none;
}

.onemore-definition{
	font: 35px Grape Soda;
	margin: 0;
	color: white;
}

.onemoreButton{
	margin: 15px 15px;
	width: 103px;
	height: 35px;
	background-color: rgb(112, 39, 195);
	border: none;
	border-radius: 50px;
	color: white;
	font: 25px Grape Soda;
}

.onemoreButton:hover{
	cursor: url(cursors/link.cur), pointer;
	background-color: white;
	color: rgb(112, 39, 195);
}
/*Na predidywyu stranicy*/
.to-prev-page{
	display:none;
	width: 190px;
	height: 270px;
	position: absolute;
	top: 100%;
	margin-top: -300px;
	margin-left: 40px;
}

.to-prev-page:hover{
	cursor: url(cursors/link.cur), pointer;
}
/*chameleon picture*/
.chameleon{
	position: absolute;
	top: 100%;
	left: 100%;
	margin-left: -25%;
	margin-top: -18%;
	width: 25%;
	height: 35%;
}