@font-face {
    font-family: "Grape Soda";
    src: url(GrapeSoda.ttf) format("truetype");
}

body{
	background-image:url(lug.jpg);
	background-repeat:round;
}

.tic-tac-wrap{
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid 20px green;
  margin-left: -320px;
  margin-top: -340px;
  display:none;
}

.tic-tap{
	width:120px;
	height:120px;
	border: solid 5px rgb(65, 139, 94);
	box-sizing:border-box;
	float:left;
	background-color:rgba(255,255,255,0.5);
}

.round{
	display:none;	
	width: 110px;
	height: 110px;
	background-image: url(stone.png);
	background-repeat: round;
}

.cross{
	display:none;
	width: 110px;
	height: 110px;
	background-image: url(list.png);
	background-repeat: round;
}

button{
    outline:none;
}

.score-desk{
  width: 350px;
  height: 225px;
  float: right;
  padding: 3% 5%;
  display:none;
}

.menu-bar{
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -165px;
}

.but-menu{
  width: 100%;
  height: 46px;
  margin: 10px 0px;
  background-color: rgba(18, 173, 42, 0.9);
  border: solid 1px black;
  border-radius: 50px;
  color: white;
  font: 35px Grape Soda;
  box-sizing: border-box;
}

.but-menu:hover{
	background-color: rgba(0, 100, 0, 0.9);
	cursor:pointer;
}

.partner-definition{
	font: 30px Grape Soda;
	margin: 10 0 0 0;
	color: white;
}

.partner-image{
	margin-top: 2%;
	width: 80%;
	height: 80%;
}

.human-computer-partner{
	width: 285px;
	height: 280px;
	display: inline-block;
	float: left;
	margin-left: 40px;
	box-sizing:border-box;
}

.human-computer-partner:hover{
	cursor:pointer;
}

.panel-title{
	font:40px Grape Soda;
	padding: 0px;
	margin:20px;
	color:white;
}

.partner-panel{
  background-color: rgba(18, 173, 42, 0.9);
  border: solid 1px black;
  width: 700px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -290px;
  text-align: center;
  border-radius: 25%;
  box-sizing: border-box;
  display:none;
}

.onemore{
  width: 380px;
  height: 115px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -190px;
  margin-top: -150px;
  text-align: center;
  background-color: rgba(18, 173, 42, 0.9);
  border: solid 1px black;
  border-radius: 70px;
  box-sizing: border-box;
  display:none;
}

.onemore-definition{
	font: 35px Grape Soda;
	margin: 0;
	color: white;
}

.onemoreButton{
  margin: 15px 15px;
  width: 103px;
  height: 35px;
  background-color: rgb(112, 39, 195);
  border: none;
  border-radius: 50px;
  color: white;
  font: 25px Grape Soda;
}

.onemoreButton:hover{
	cursor:pointer;
	background-color: white;
	color: rgb(112, 39, 195);
}